{% extends 'base.html' %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}

<div class="card p-5 align-items-center">
  <div class="d-flex align-items-center">
    <img
      src="../static/images/flask-icon.png"
      alt="Flask Logo"
      height="75rem"
      width="75rem"
    />
    <h1>FLASK API</h1>
  </div>

  <p class="py-2 fw-normal">
    What is Flask is used for? Flask is a small and lightweight Python web
    framework that provides useful tools and features that make creating web
    applications in Python easier. It gives developers flexibility and is a more
    accessible framework for new developers since you can build a web
    application quickly using only a single Python file.
  </p>
</div>

{% endblock %}
