{% extends 'base.html' %} {% block content %}
<!-- ======= Hero Section ======= -->
<section
  class="hero d-flex flex-column justify-content-center align-items-center"
  data-aos="fade"
  data-aos-delay="1500"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>We provide the<span>Latest News</span> in and around your city!</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- ======= Hero Section ======= -->

<section
  class="d-flex justify-content-center align-items-center"
  style="width: 50%"
>
  <h1>PROFILE PAGE GOES HERE</h1>
</section>

<!-- End Contact Form -->

<!-- End Hero Section -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>BlitzcraftHQ</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!-- Vendor JS Files -->
{% endblock %}
